# History files
.Rhistory
.Rapp.history

# Example code in package build process
*-Ex.R

# RStudio files
.Rproj.user/

# produced vignettes
vignettes/*.html
vignettes/*.pdf

# OAuth2 token, see https://github.com/hadley/httr/releases/tag/v0.3
.httr-oauth

datasets/clustering\.rds

*.rds

\.DS_Store

\.RData

source/clustering/mainClustering\.R

models/testModel_/MCC/C\[1-3\]/\.executed

models/testModel_/MCC/C\[2-3\]/\.executed

plots/MutiTypeClustering_Kendall_Dispersion\.pdf

plots/MutiTypeClustering_Pearson_Dispersion\.pdf

models/testModel_/MCC/C\[1-3\]/\.executed

models/testModel_/MCC/C\[2-3\]/\.executed

models/MultiTypeKendall/MultiTypeKendall\.pdf

models/MultiTypePearson/
